body{
  font-family: sans-serif;
  background-color: #000;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  z-index: 9999;
}
.inputs input{
  margin:10px;
  padding: 10px 30px;
  border-radius:10px;
  border: none;
  color:#fff;
  outline: none;
  background-color: #411b1b;  
}
.texts{
  color:white;
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  z-index: 999;
}
.inputs input::placeholder { 
  color: #fff;
  opacity: 1;
}

.inputs input:-ms-input-placeholder {
  color: #fff;
}

.inputs input::-ms-input-placeholder {
  color: #fff;
}

.gagak{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  color:#fff;
  align-items: center;
}
.gagak h4{
  margin-top: -20px;
  font-size: 20px;
  font-family:serif !important;
}
.gagak img{
  margin: 10px;
  padding: 10px;
  width: 25%;
}
.inputs button{
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #a34242;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.inputs button:hover{
  background-color: #502121;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 700px) {

}
