html{
  scroll-behavior: smooth;
}

body{
  background-color: #000;
  color: #fff;
}

.header{
  display: flex;
  align-items: center;
}
section{
  margin: 50px;
  margin-top: 100px;
}

header{
  display: flex;
  align-items:center;
  justify-content: space-between;
  
}


.a-s-j ul{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.a-s-j li{
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: 'Beau Rivage';
  font-size: 20px;
}
.a-s-j li a{
  color: #fff;
  direction: none;
  text-decoration: none;
}
.continue{
  cursor: default;
}

.a-s-j img{
  display: none;
}

.a-s-j{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

footer div{
  width: 100%;
  height: 40px;
  background-color: #832727;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(50px);
}

#about div{
  margin-top: 50px;
}
#join button{
  padding: 10px 30px;
  border-radius:20px;
  border: solid 3px #832727;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  transition: 0.6s;
}
#join button:hover{
  background-color: #832727;
  box-shadow: 0 0 40px 5px #bd3a3a;
}

@media screen and (max-width: 700px) {
  section{
    text-align: center;
  }
  .a-s-j img{
    display: block;
    margin-right: 20px;
  }
  .a-s-j{
    width: 100%;
    align-items: flex-start;
  }
  header{
    align-items:flex-start;
  }
  
  .a-s-j ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    margin-left: -110px;
    margin-top:100px;
    justify-content: space-between;
  }
  .a-s-j ul li{
    padding: 5px;

  }
  .on{
    height: 200px !important;
  }
  
  .lol {
    margin-top: 10%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: block;
    position: relative;
  }
  
  .lol.li span {
    background-color: transparent;
  }
  
  .lol.li span::before {
    margin-top: 0;
    transform: rotate(45deg);
  }
  
  .lol.li span::after {
    margin-top: 0;
    transform: rotate(-45deg);
  }
  
  .lol span {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    top: calc(48%);
    transform: translateY(-50%);
    transition: background-color 0.4s;
  }
  
  .lol span::before {
    transition: transform 0.4s,margin-top 0.4s;
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .lol span::after {
    transition: transform 0.4s,margin-top 0.4s;
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    margin-top: -10px;
  }
}
@media screen and (max-width: 400px) {
  .lol {
    margin-top: 25%;
  }
  ul{
    right: 20px;
  }

}
